/* Basic styles for layout and design */

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #252525;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li a:hover {
    background-color: #555555;
  }
  
  h1, h2, h3 {
    color: #ffffff;
  }
  
  .project-card {
    background-color: #2b2b2b;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .project-card a {
    color: #00ccff;
    text-decoration: none;
  }
  
  .project-card a:hover {
    text-decoration: underline;
  }
  
  .skill {
    margin-bottom: 20px;
  }
  
  .skill-bar {
    background-color: #666666;
    height: 20px;
    border-radius: 10px;
  }
  
  .skill-level {
    background-color: #00ff80;
    height: 100%;
    border-radius: 10px;
  }
  .avatar {
    width: 300px;
    height: auto;
    border: 2px solid #222;
    border-radius: 10%;
  }
  .mail {
    color: #00ccff;
    text-decoration: none;
  }
  .mail:hover {
    text-decoration: underline;
  }
  .prdcts {
    color: #00ccff;
    background-color: #222;
    border: 8px solid #222;
    border-radius: 10%;
    text-decoration: none;
  }
  .prdcts:hover {
    box-shadow: 0px 4px 8px 0px;
    text-decoration: solid;
  }
  .quickup {
    background-color: #222;
    color: #00ccff;
    text-align: center;
    border-radius: 10%;
    text-decoration: none;
  }
  .quickup:hover {
    text-decoration: none;
    box-shadow: 0px 4px 8px 0px;
  }
  .certi {
    border: 5px solid #252525;
    border-radius: 1%;
  }

  #preloader {
    display: none;
    width: 100px;
    height: 100px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@keyframes spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}